@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



body {
  background: #f1f1f1;
  margin: 0;
  overflow: hidden;
  font-family: 'omyu_pretty';
  font-size: 30px;
}

#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff; 
  z-index: 1000;  
  display: flex;
  justify-content: center;
  align-items: center;
}

#q-cont {
  width: 1000vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0vw;
  display: flex;
  transform: translate(0vw, 0vh);
  transition: 1.5s 150ms;
  
}

.slide {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.question {
  width: 100%;
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}

.question:before {
  content: "Q. ";
}

.options {
  width: 350px;
  margin: 0 auto;
}

.op, .re {
  margin-top: 20px;
  display: inline-block;
  line-height: 3em;
  text-align: center;
  background: #d90;
  border-radius: 20px;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}

.op {
  width: 45%;
}

.re {
  font-size: 0.5em;
  width: 200px;
  display: block;
  margin: 10px auto;
}

.op2 {
  float: right;
}


.additional-requirements {
  width: 100%;
  height: 100px;
  padding: 0px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 0.8em;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  resize: none;
  font-family: 'omyu_pretty';
  overflow: hidden;
}

#btn-wrapper {
  text-align: center;
  width: 100%;
}

#send-btn {
  display: inline-block;
}

::placeholder{
  font-family: 'omyu_pretty';
}
#done{
  font-size: 10rem;
}